<form #f="ngForm" style="text-align:center" (ngSubmit)="btnClicked(f)">
  <label>Value to send in ether</label>
  <input name="value" ngModel required #value="ngModel"/>
  <button>{{btnLabel}}</button>
</form>


